!!! 5
html
 head
  title The TV Herald
  link(rel='stylesheet', href='/stylesheets/style.css')
 
 body
  #content
   #banner
    img(src='/images/logo.png',alt='logo')
    #text
     h1 Don’t waste more time!
     h2 TV Herald suggests an alternative way to reduce the time you spend watching poor television. 
     h2 The app allows you to search the series you’re interested in.
   #bd
    h3 Séries
    br
    p search
    p Just search for the series you would like to get synopses, exhibition dates and more.
   #bottom
    p