!!! 5
html
 head
  title The TV Herald
  link(rel='stylesheet', href='/stylesheets/style.css')
 
 body
  #content
   #banner
    img(src='/images/logo.png',alt='logo')
    #text
     h1 Don’t waste more time!
     h2 TV Herald suggests an alternative way to reduce the time you spend watching poor television. 
     h2 The app allows you to search the series you’re interested in.
   #bd
    h3 So...
    h4 Unfortunately the application does not work as planned, but had so much fun these two days.
    h5 See Ya
   #bottom