body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #bab595;;
	background: -moz-linear-gradient(top, #bab595, #aaa585);
	background: -webkit-gradient(linear, left top, left bottom, from(#bab595), to(#aaa585));
}
div#banner { background-color: white;
	
}
div#center { height: 600px;
	margin-top: 150px;
	font-family: Arial;
	background-color: white;
	box-shadow: 5px 5px 5px #000;
	border: solid 1px #ffffff;
	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF, #d3d3d3);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#d3d3d3)); 
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px; 
	border-radius: 10px;
	text-align: center;
}
	
