!!! 5
html
 head
  title The TV Herald
  link(rel='stylesheet', href='/stylesheets/style.css')
 
 body
  #all
   #banner
    img(src='/public/images/logo.png',alt='logo')
     h1
  #content
   #body
    h2 Séries
    br
    p search
  #bottom