!!! 5
html
 head
  title The TV Herald
  link(rel='stylesheet', href='/stylesheets/style.css')
 
 body
  #all
   #top
    #logo1
     img(src='/images/mainlogo.png', title='The TV Herald', name='logo')
    #menu
     h2 Watch LESS television watching RIGHT television!
     p TV Herald suggests an alternative way to reduce the time you spend watching poor television. It's an app that allows you to search the series you're interested in. (Don't waste more time!) 
     p Just log in (through Facebook) and look for the series you would like to get synopses, exhibition dates and more.
      #links
       a.menu(href='/app/views/index.jade', title='Home') HOME
       a.menu(href='http://teste.thetvherald.nodejitsu.com/signin', title='Login') LOGIN     
    #content
     #center
      h1 Series
      p
   #bottom
    p Created by | #F4b

  