!!! 5
html
 head
  title The TV Herald
  link(rel='stylesheet', href='/stylesheets/style.css')
 
 body
  #all
   #top
    #logo1
     img(src='/images/mainlogo.png', title='The TV Herald', name='logo')
    #menu
     h1 Watch LESS television watching RIGHT television!
     p The TV Herald suggests an alternative way to reducing hours spent watching television: watch only the TV series that interest you. Just make login and look for some series that you might like to get synopses, exhibition dates and more.
      #links
       a.menu(href='/app/views/index.jade', title='Home') HOME
   #content
    #center
     h1 Series
   #bottom
    p abcdef

  