!!! 5
html
 head
  title= The TV Herald
  link(rel='stylesheet', href='/public/stylesheets/style.css'))
 
 body
  #all
   #top
    #logo1
     img(src='/images/logo.png', title='The TV Herald', name='logo')
    #menu
   #content
    #center
     h1 Series
   #bottom
    p2 abcdef
